@page "/admin/categorias/nova"
@attribute [Authorize(Roles = "Admin")]
@using Microsoft.AspNetCore.Authorization
@using TechStore.Application.DTOs
@using TechStore.Application.Services

@inject CategoriaService CategoriaService
@inject NavigationManager Navigation

<h3>Nova Categoria</h3>

<div class="card p-3">
    <input class="form-control mb-2"
           @bind="categoria.Nome"
           placeholder="Nome da categoria" />

    <button class="btn btn-success" @onclick="Salvar">
        Salvar
    </button>
</div>

@code {
    private CriarCategoriaDTO categoria = new();

    private async Task Salvar()
    {
        await CategoriaService.CriarCategoriaAsync(categoria);
        Navigation.NavigateTo("/admin");
    }
}