@page "/login"
@using TechStore.Web.Services
@inject AuthService Auth
@inject NavigationManager Navigation

<h3 class="mb-3">Entrar</h3>

<div class="card p-4 shadow-sm" style="max-width: 400px;">
    <input class="form-control mb-2"
           placeholder="Email"
           @bind="email" />

    <input class="form-control mb-3"
           type="password"
           placeholder="Senha"
           @bind="senha" />

    <button class="btn btn-dark w-100" @onclick="Entrar">
        Entrar
    </button>

    @if (!string.IsNullOrEmpty(erro))
    {
        <div class="alert alert-danger mt-3">
            @erro
        </div>
    }
</div>

@code {
    private string email = string.Empty;
    private string senha = string.Empty;
    private string erro = string.Empty;

    private async Task Entrar()
    {
        erro = string.Empty;

        var sucesso = await Auth.LoginAsync(new TechStore.Application.DTOs.LoginDTO
        {
            Email = email,
            Senha = senha
        });

        if (sucesso != null)
        {
            erro = "Email ou senha inválidos.";
            return;
        }

        Navigation.NavigateTo("/");
    }
}
