@using Microsoft.EntityFrameworkCore.Metadata.Internal

<section class="hero-tech mb-5">
    <div class="container text-center">
        <h1 class="display-5 fw-bold mb-3">
            ⚡ Super Ofertas TechStore
        </h1>

        <p class="lead mb-4">
            Tecnologia de ponta com preços imperdíveis.
            Aproveite as promoções por tempo limitado!
        </p>

        <NavLink href="/produtos" class="btn btn-success btn-lg px-5">
            Ver Produtos
        </NavLink>
    </div>
</section>





