@using Microsoft.EntityFrameworkCore.Metadata.Internal

<section class="hero-tech mb-5">
    <div class="container text-center">
        <h1 class="display-5 fw-bold mb-3">
            Ofertas em Tecnologia
        </h1>

        <p class="lead mb-4">
            Os melhores produtos com os melhores preços
        </p>

        <NavLink href="/produtos" class="btn btn-primary btn-lg px-5">
            Ver Produtos
        </NavLink>
    </div>
</section>





