<div class="container mb-5">
    <h2 class="mb-4 text-center">Categorias</h2>

    <div class="row text-center g-4">

        <div class="col-md-3">
            <div class="p-4 border rounded shadow-sm">💻 Notebooks</div>
        </div>

        <div class="col-md-3">
            <div class="p-4 border rounded shadow-sm">📱 Celulares</div>
        </div>

        <div class="col-md-3">
            <div class="p-4 border rounded shadow-sm">🎮 Placa de Vídeo</div>
        </div>

        <div class="col-md-3">
            <div class="p-4 border rounded shadow-sm">🔋 Memória RAM</div>
        </div>

    </div>
</div>
