<div class="container mb-5">
    <h2 class="text-center fw-bold mb-4">
        Categorias
    </h2>

    <div class="row g-4 text-center">

        <div class="col-6 col-md-3">
            <div class="categoria-card">
                <i class="bi bi-laptop fs-2 mb-2"></i>
                <span>Notebooks</span>
            </div>
        </div>

        <div class="col-6 col-md-3">
            <div class="categoria-card">
                <i class="bi bi-phone fs-2 mb-2"></i>
                <span>Celulares</span>
            </div>
        </div>

        <div class="col-6 col-md-3">
            <div class="categoria-card">
                <i class="bi bi-gpu-card fs-2 mb-2"></i>
                <span>Placa de Vídeo</span>
            </div>
        </div>

        <div class="col-6 col-md-3">
            <div class="categoria-card">
                <i class="bi bi-memory fs-2 mb-2"></i>
                <span>Memória RAM</span>
            </div>
        </div>

    </div>
</div>
