<section class="container mb-5">
    <div class="carousel-container">
        <img src="@imagens[indiceAtual]"
             class="img-fluid w-100 rounded shadow-lg banner-img"
             alt="Banner TechStore">
    </div>
</section>

@code {

    private List<string> imagens = new()
    {
        "/NovaPasta/banner-techstore1.png",
        "/NovaPasta/banner-techstore2.png",
        "/NovaPasta/banner-techstore3.png"
    };

    private int indiceAtual = 0;
    private Timer? timer;

    protected override void OnInitialized()
    {
        timer = new Timer(TrocarImagem, null, 3000, 3000);
    }

    private void TrocarImagem(object? state)
    {
        indiceAtual = (indiceAtual + 1) % imagens.Count;
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        timer?.Dispose();
    }
}