<div class="container mb-5">
    <h2 class="mb-4 text-center">Produtos em Destaque</h2>

    <div class="row">

        @for (int i = 0; i < 4; i++)
        {
            <div class="col-md-3 mb-4">
                <div class="card shadow-sm h-100">
                    <img src="https://via.placeholder.com/200"
                         class="card-img-top">

                    <div class="card-body text-center">
                        <h5 class="card-title">Produto Tech</h5>
                        <p class="text-success fw-bold">R$ 999,90</p>

                        <button class="btn btn-primary w-100">
                            Comprar
                        </button>
                    </div>
                </div>
            </div>
        }

    </div>
</div>
