@using TechStore.Web.Services
@inherits LayoutComponentBase
@inject NavigationManager Navigation
@inject CarrinhoService Carrinho
@inject AuthService Auth

<!-- NAVBAR -->
<div class="bg-dark text-white p-3 shadow">
    <div class="container d-flex justify-content-between align-items-center">

       

        <div class="container d-flex align-items-center justify-content-between">

            <!-- LOGO -->
            <a href="/" class="text-white fw-bold text-decoration-none fs-4">
                💻 TechStore
            </a>

            <!-- BUSCA -->
            <div class="search-box w-50">
                <input type="text"
                       class="form-control form-control-sm"
                       placeholder="Buscar produtos..."
                       @bind="termoPesquisa"
                       @bind:event="oninput"
                       @onkeydown="OnKeyDown" />
            </div>

        </div>

        <!-- MENU -->
        <div class="d-flex gap-3">
            <NavLink href="/" class="text-white text-decoration-none"> <i class="bi bi-house"></i> Início</NavLink>
            <NavLink href="/produtos" class="text-white text-decoration-none"> <i class="bi bi-grid"></i> Produtos</NavLink>
            <NavLink href="/carrinho" class="text-white text-decoration-none"> <i class="bi bi-cart"></i> Carrinho
                @if (Auth.IsAuthenticated && Carrinho.QuantidadeTotal > 0)
                {
                    <span class="badge bg-warning text-dark ms-1">
                        @Carrinho.QuantidadeTotal
                    </span>
                }
            </NavLink>
            
            @if (Auth.IsAuthenticated)
            {
                <span class="text-light">
                    Olá, @Auth.UserName
                </span>

                <button class="btn btn-outline-light btn-sm"
                        @onclick="Logout">
                    Sair
                </button>
            }
            else
            {
               <AuthorizeView>
                    <Authorized>
                        <div class="dropdown">
                             <span class="text-white d-flex align-items-center gap-1">
                                <i class="bi bi-person-circle fs-5"></i>
                                <span>
                                    Olá,
                                    <NavLink href="/login" class="text-white text-decoration-underline">
                                        Entre
                                    </NavLink>
                                    ou
                                    <NavLink href="/registrar" class="text-white text-decoration-underline">
                                        Cadastra-se
                                    </NavLink>
                                 </span>
                            </span>                          
                        </div>
                    </Authorized                   
                </AuthorizeView>

            }
        </div>

    </div>
</div>

    <!-- CONTEÚDO PRINCIPAL --> 
    <main class="container mt-4">
        @Body
    </main>

    <!-- RODAPÉ SIMPLES -->
    <footer class="footer mt-5 py-3 bg-light border-top">
        <div class="container text-center">
            <p class="text-muted mb-0">
                &copy; 2026 TechStore - Desenvolvedora Daliene Roque 
            </p>
        </div>
    </footer>


@code {
    [Inject] NavigationManager NavManager { get; set; }
     
    private string termoPesquisa = string.Empty;    

    private void OnKeyDown(KeyboardEventArgs e)
    {
        if (e.Key == "Enter" && !string.IsNullOrWhiteSpace(termoPesquisa))
        {
            NavManager.NavigateTo($"/produtos?search={termoPesquisa}");
        }
    }
    protected override void OnInitialized()
    {
        Auth.OnAuthChanged += StateHasChanged;
        Carrinho.OnCarrinhoChanged += StateHasChanged;
    }

    private async Task Logout()
    {
        await Auth.LogoutAsync();
        Navigation.NavigateTo("/");
    }


}